@{
    ViewBag.Title = "About Us";
}

<h2>@ViewBag.Title.</h2>
<p>
Our service company was born with a motto: <em>'Strength is your Shine'</em>, back in 1990.<div>Since then, we are working hard to estalish as the leading metal polishing company of Pakistan.</div><hr />We provide various polishing services:"
</p>

<p>Use this area to provide additional information.</p>
