@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Indus Polishing Works</h1>
    <p style="font-family:'Lucida Calligraphy';"><b>We Support, you Shine</b></p>
    <p><a href="https://socialsoftwareinc.herokuapp.com" class="btn btn-primary btn-lg">Learn more about Developers &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Services</h2>
        <p>
            We provide the following polishing services on metals:
            <ul>
                <li>Steel</li>
                <li>Zinc</li>
                <li>Silver</li>
                <li>Copper</li>
            </ul>
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Materials We Polish</h2>
        <p>The following metal category is our polishing speciality:
        <ul>
            <li>Buttons</li>
            <li>Chains</li>
            <li>Zips</li>
            <li>Chair Nails</li>
        </ul></p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Our Stake Holders</h2>
        <p>Our precious team includes:
        <ul>
            <li>Customers</li>
            <li>Employee</li>
            <li>Owner</li></ul></p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>